<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Basics</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />

    @* Full Calendar *@
    <script src="~/js/index.global.js"></script>
    <script src="~/js/index.global.min.js"></script>
    <script src='~/js/tr.global.js'></script>
    <script src='~/js/tr.global.min.js'></script>
</head>

<body>
    <header>
        <partial name="_Navbar" />
    </header>
    <main role="main">
        @RenderBody()
    </main>
    <footer>
        <partial name="_Footer" />
    </footer>
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/font-awesome/js/all.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
