@{
    ViewData["Title"] = "Home Page";
}
<div class="card mb-2 border-0">
    <div class="row g-0 justify-content-center border-bottom">
        <div class="col-md-5">
            <div class="card-body d-flex flex-column justify-content-center">
                <h1 class="card-title">
                    TechTitans<br />
                    Websitesine<br />
                    Hoşgeldiniz!
                </h1>
                <p class="card-text">
                    <br /><br />
                    TechTitans ile anket ve etkinliklerinizi<br /> kolay ve hızlı bir şekilde uygulayabilir,
                    <br /> sonuçlarını rahatlıkla görüntüleyebilirsiniz.
                </p>
                <a class="btn py-3 text-white" asp-controller="Event" asp-action="Index"
                    style="background-color: #4169e1">
                    Etkinlik Oluştur
                    <i class="fa-solid fa-arrow-right"></i>
                </a>
            </div>
        </div>
        <div class="col-md-5">
            <img src="~/images/Foto-2.jpg" alt="...">
        </div>
    </div>
</div>
<div class="container text-center mt-5">
    <h1 class="fw-bold">
        <br /> Harika anketler ve etkinlikler oluşturmak <br />
        TechTitans ile mümkün.
    </h1>
    <p class="lead"> <br /> Haydi şimdi dene</p>
    <a class="btn py-3 text-white" asp-controller="Event" asp-action="Index" style="background-color: #4169e1">
        Etkinlik Oluştur
    </a>
</div>
