<div class="card mb-2 border-0">
    <div class="row g-0 my-5 justify-content-center align-items-center">
        <div class="col-md-5">
            <div class="card-body d-flex flex-column">
                <h1 class="card-title text-black py-2">
                    Programınızın sizi <br/> 
                    kontrol etmesine </br>
                    izin vermeyin
                </h1>
                <p class="card-text text-white py-2">
                    TechTitans, zamanınıza hakim olmanıza yardımcı olur, böylece odaklanmanız gereken şeye odaklanabilirsiniz - insanlarla daha iyi bağlantılar kurma.
                </p>
                <a class="btn btn-light py-3 text-white" asp-controller="Account" asp-action="Signup"
                    style="background-color: #4169e1">
                    Ücretsiz Deneyin
                    <i class="fa-solid fa-arrow-right"></i>
                </a>
                <p class="card-text text-center mt-3">
                    <small class="text-white">Kredi kartı gerektirmez.</small>
                </p>
            </div>
        </div>
        <div class="col-md-4">
            <img src="~/images/Foto.jpg" class="img-fluid rounded-start" alt="...">
        </div>
    </div>
</div>

<hr />

<div class="container text-center py-4 ">
    <div class="h1 fw-bold">Zaman kazanın ve daha fazlasını başarın</div>
    <p>
        Planlama seçenekleri, toplantıları, randevuları veya etkinlikleri hızlı ve verimli bir şekilde planlamanıza olanak tanır, böylece değerli zaman ve enerji kazanırsınız.
    </p>
</div>
<div class="row row-cols-1 row-cols-md-3 g-4 mx-5 px-5">
    <div class="col">
        <div class="card h-100">
            <div class="card-body" style="background-color: #d9eaf7;">
                <h5 class="card-title">Zaman Tasarrufu</h5>
                <p class="card-text">TechTitans, seçilen kişilerin erişebileceği merkezi bir platform aracılığıyla uzun e-posta zincirlerine gerek kalmadan işlem yapar.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <div class="card-body" style="background-color: #d9eaf7;">
                <h5 class="card-title">Artan Üretkenlik</h5>
                <p class="card-text">TechTitans, planlamanızı optimize eder ve iş akışlarınızı sonsuz entegrasyonlar aracılığıyla otomatikleştirir.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <div class="card-body" style="background-color: #d9eaf7;">
                <h5 class="card-title">Daha İyi Organizasyon</h5>
                <p class="card-text">TechTitans'ın kullanıcı dostu arayüzü ile programınızı kolayca takip edebilir ve düzenli kalabilirsiniz.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <div class="card-body" style="background-color: #d9eaf7;">
                <h5 class="card-title">Daha Fazla Esneklik</h5>
                <p class="card-text">TechTitans, herkesin en iyi zamanını seçmesine olanak tanır, bulundukları konum fark etmeksizin.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <div class="card-body" style="background-color: #d9eaf7;">
                <h5 class="card-title">Arttırılmış İşbirliği</h5>
                <p class="card-text">TechTitans, içeriden ve dışarıdan diğerleriyle kolayca koordine etmenizi sağlar, yerinde veya uzaktan.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <div class="card-body" style="background-color: #d9eaf7;">
                <h5 class="card-title">Gelişmiş İletişim</h5>
                <p class="card-text">Herkesin planında kalmasını sağlamak için hatırlatmalar ve takip mesajları gönderin. Gönderdiğiniz şeyleri inceleyebilirsiniz.</p>
            </div>
        </div>
    </div>
</div>
<div class="container">
</div>

<div class="container text-center mt-4 mb-4">
    <a class="btn btn-light text-white py-3 " asp-controller="Account" asp-action="Signup"
       style="background-color: #4169e1">
        Şimdi Kaydolun
    </a>
</div>

<hr />

<div class="card border-0">
    <div class="row g-0 my-5 justify-content-center align-items-center">
        <div class="col-md-5">
            <div class="card-body d-flex flex-column">
                <h1 class="card-title py-2">
                    Gizliliğiniz ve <br />
                    güvenliğiniz bizim <br />
                    önceliğimiz <br />
                </h1>
                <p class="card-text py-2">
                    Planlama konusunda TechTitans'a güvenebilirsiniz.
                </p>
                
            </div>
        </div>
        <div class="col-md-4">
            <img src="~/images/Foto-3.jpg" class="img-fluid rounded-start" alt="...">
        </div>
    </div>
</div>

<hr />

<div class="container-fluid text-center text-black py-5">
    <h1 class="fw-bold py-4">
        Zaman kazanın ve önemli konuşmalara odaklanın <br />
    </h1>
    <p class="py-4">Planlamayı halledin, böylece ilişkilerinizi kurmaya odaklanabilirsiniz.</p>

    <div class="container text-center mt-4 mb-4">
        <a class="btn btn-light text-white py-3 " asp-controller="Account" asp-action="Signup"
           style="background-color: #4169e1">
            Şimdi Ücretsiz Deneyin
        </a>
    </div>
</div>